body{
    background-image: url('assets/back.jpg');
}
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
    justify-content: center;
  }
  
  /* Add this CSS to style the buttons */
  .btn {
    display: inline-block; /* Make the buttons inline horizontally */
    margin: 5px; /* Add margin for spacing between buttons */
  }